<!-- extend base template -->
{% extends 'base.html' %}
<!-- extend base template -->

<!-- load static -->
{% load static %}
<!-- load static -->

<!-- title -->

<!-- extend block -->
{% block title %} Transposition Encryption {% endblock %}
<!-- extend block -->

<!-- title -->

<!-- body -->

<!-- extend block -->
{% block body %}

<div class="section">
  <div class="tabs is-centered">
    <ul>
      <li>
        <a href="{% url 'transposition_encrypt' %}">Transposition Encryption</a>
      </li>
      <li>
        <a href="{% url 'transposition_decrypt' %}">Transposition Decryption</a>
      </li>
    </ul>
  </div>
  <p class="title has-text-centered">Ceaser Cipher</p>
  <!--  -->
  {% if response %}
  <!--  -->
  <div class="box">
    <p class="subtitle">{{ response }}</p>
  </div>
  <!--  -->
  {% endif %}
  <!--  -->
</div>

{% endblock %}
<!-- extend block -->

<!-- body -->
