<!-- extend base template -->
{% extends 'base.html' %}
<!-- extend base template -->

<!-- body -->

<!-- extend block -->
{% block body %}
<section class="hero is-info is-fullheight">
  <div class="hero-body">
    <div class="box has-background-dark">
      <p class="title">Personal App Backend</p>
      <p class="subtitle has-text-light">Test urls</p>
      <hr />
      <ul>
        <li>
          <a href="/todo-api/" class="has-text-info">Todo app API view</a>
        </li>
        <hr />
        <li>
          <a href="/tracker-api/" class="has-text-info">Tracker app API view</a>
        </li>
      </ul>
      <hr />
    </div>
  </div>
</section>
{% endblock %}
<!-- extend block -->

<!-- body -->
