<!-- extend base template -->
{% extends 'base.html' %}
<!-- extend base template -->

<!-- body -->

<!-- extend block -->
{% block body %}
<section class="hero is-info is-fullheight">
  <div class="hero-body">
    <div class="box has-background-dark">
      <p class="title">Personal App Backend</p>
      <p class="subtitle has-text-light is-underlined">Test urls</p>
      <ul>
        <li>
          <a href="/todo-api/tags/" class="has-text-info">Tags API view</a>
        </li>
        <li>
          <a href="/todo-api/todo/" class="has-text-info">Todo API view</a>
        </li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}
<!-- extend block -->

<!-- body -->
