<!-- load static -->
{% load static %}
<!-- load static -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <!-- bulma -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- bulma -->
    <title>Personal App Backend</title>
  </head>
  <body>
    <!--  -->
    <div class="main-body">
      {% block body %}
      <!--  -->
      {% endblock %}
    </div>

    <footer class="footer has-background-dark has-text-light">
      <div class="content has-text-centered">
        <p>
          Made with <i class="bi bi-hearts has-text-danger-dark"></i> using
          <strong class="has-text-success">Django</strong>,
          <strong class="has-text-danger">Django-REST-Framework</strong>, and
          <strong class="has-text-info">Vue.Js</strong>
        </p>
        <p>
          <strong>&#169; 2022</strong>
          <a href="#" class="has-text-light">Freedom Loisa</a>
        </p>
      </div>
    </footer>
    <!--  -->
  </body>
</html>
