<!-- load static -->
{% load static %}
<!-- load static -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <!-- bulma -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- bulma -->
    <title>Personal App Backend</title>
  </head>
  <body>
    <!--  -->
    <div class="main-body">
      {% block body %}
      <!--  -->
      {% endblock %}
    </div>

    <footer class="footer has-background-dark has-text-light">
      <div class="content has-text-centered level">
        <p class="level-left">
          |<strong class="has-text-success level-item">Django</strong> |
          <strong class="has-text-danger level-item"
            >Django-REST-Framework</strong
          >
          | <strong class="has-text-info level-item">Vue.Js</strong>
        </p>
        <p class="level-left">
          |
          <a href="#" class="has-text-info is-underlined level-item"
            >Freedom Loisa</a
          >
        </p>
      </div>
    </footer>
    <!--  -->
  </body>
</html>
